h1 {
    font-family:arial;
    margin: 20px 0 20px 50px;
}

h3 {
    margin-left: 45px;
    height: 30px;
    width: 350px;
    margin: 10px 100px auto 45px;
}

form {
    display: inline-block;
    margin-left:45px;
}

input {
    height:25px;
    font-size: 1em;
}

button {
    display: inline-block;
    height:25px;
	width:80px;
	background-color:#3ca305;
	font-family:arial;
	font-weight:bold;
	color:#ffffff;
	border-radius: 5px;
	text-align:center;
}

ol li, ul li {
	background: #ffffff;
	border-radius: 5px;
	border: 1px solid black;
	margin: 3px;
	padding: 0.4em;
	font-size: 1em;
	height: 25px;
    max-width:350px;
	font-family: Verdana, Arial, Sans-Serif;
}

.itemsToBuy {
	font-family:garamond;
	color:#3ca305;
}

.icons {
    position: relative;
    float:right;
    margin-right: 5px;
}


.trash {
    position: relative;
    margin-right: 5px;
}

.refresh {
    position: relative;
    float:right;
    margin-top: -5px;
}


.itemsBought {
	font-family:garamond;
	color:#cc0000;
    height:auto;
}

.black {
    color:black;
}